default:
  tags:
    - shell


stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - pip install virtualenv
    - python -m virtualenv venv
    - call venv\Scripts\activate.bat
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
  artifacts:
    paths:
      - venv/
    expire_in: 1 hour


pytest:
  stage: test
  script: pytest