default:
  tags:
    - shellrunner


stages:
  - build
  - test

build-job:
  stage: build
  script:
    - python --version
    - allure --version
    - pip --version
    - pip install -r requirements.txt
    - npx playwright install-deps chromium


pytest-job:
  stage: test
  script:
    - pytest -v -s