image: python:3.12

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

stages:
  - test
  - setup

setup_job:
  stage: setup
  tags:
    - shell  # твой локальный runner
  script:
    - python --version
    - pip --version
    - pip install venv
    - python -m venv venv
    - call venv\Scripts\activate.bat
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
  artifacts:
    paths:
      - venv/  # сохраняем виртуальное окружение для последующих джоб



tests:
  stage: test
  script:
    - pytest
  tags:
    - shell