default:
  tags:
    - shellrunner


stages:
  - build
  - test

build-job:
  stage: build
  script:
    - python --version
    - pip --version
    - pip install -r requirements.txt
    - npx playwright install-deps chromium


pytest-job:
  stage: test
  script:
    - pytest -v -s --alluredir=allure-results
  after_script:
    - allure generate -c allure-reports -o allure-results
  artifacts:
    when: always
    paths:
      - allure-results
    expire_in: 1 week