stages:
  - test

tests:
  stage: test
  tags:
    - shell
  script:
    - python -m venv venv
    - venv\Scripts\activate
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
    - pytest
