stages:
  - test

default:
  tags:
    - localshell

tests:
  stage: test
  image: python:3.12
  before_script:
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - pytest